body {
	margin: 10px;
}


.habit-name {
    font-size: 1.1em;
    padding-left: 15px;
    font-weight: 600;
}

// wrapper around all the blocks
.habit-wrapper {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.history-wrapper {
    .green {
        background-color: #5ecc5e;
    }
    .red {
        background-color: #e35656;
    }
    .blue {
        background-color: blue;
    }
    .gray {
        background-color: gray;
    }
}


// individual block styling
.history-block {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 2px;
    margin: 0px 2px 0px 2px;
    vertical-align: bottom;
}


// wrapper for 3 column layout (buttons and history)
.history-bar div {
    display: inline-block;
}

.history-back,.history-forward {
    padding: 3px;
    margin: 0px;
}


.history-selector-option-wrapper {
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
}


.history-selector-option {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    min-width: 40px;
    text-align: center;
}



.history-selector-arrow {
    margin-left: 34px;
    height: 19px;
    padding-bottom: 3px;
}


.titlebar {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 297px;
    color: #0080ff;
}

.titlebar > * {
    display: inline;
    margin-left: 20px;
}

#refresh {
    // float: left;
}

#add {
    // float: right;
}